<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/pacman.css" />
    <link rel="icon" type="image/png" href="./images/pacman_PNG84.png" />
    <title>Pacman</title>
  </head>
  <body>
    <div class="background"></div>
    <a class="back" href="../index.html" title="Back to landing page">Back</a>
    <button class="start">Start the game!</button>
    <section class="game">
      <div class="lifes"></div>
      <div class="timer"></div>
      <div class="board"></div>
      <div class="info">
        <p>Score: <span class="score"></span></p>
        <p>Level: <span class="level"></span></p>
      </div>
    </section>
    <section class="gameOver gameOver_hidden">
      <h2 class="gameOver_title">Game over</h2>
      <p class="gameOver_text">You do not have any life left.</p>
      <button class="gameOver_button">Play again!</button>
      <p class="finalScore_title">
        Score: <span class="finalScore"></span> Time: <span class="time"></span>
      </p>
    </section>
    <section class="congratulations congratulations_hidden">
      <h2 class="congratulations_title">Congratulations!</h2>
      <p class="congratulations_text">You came, you saw, you won.</p>
      <button class="congratulations_button">Play again!</button>
      <p class="congratulationsFinalScore_title">
        Score: <span class="congratulationsFinalScore"></span> Time:
        <span class="congratulationsTime"></span>
      </p>
    </section>
    <footer
      class="container-fluid footer px-5 py-1 bg-secondary text-white d-flex justify-content-between align-items-center"
    >
      <nav class="footer__menu">
        <ul class="footer__menuList">
          <li class="footer__menuList-github">
            <a
              target="_blank"
              rel="noreferrer"
              class="footer__menuList-access"
              href="https://github.com/martreyz"
              title="Access GitHub"
            >
            </a>
          </li>
          <li class="footer__menuList-linkedin">
            <a
              target="_blank"
              rel="noreferrer"
              class="footer__menuList-access"
              href="https://www.linkedin.com/in/martareyrodriguez/"
              title="Access Linkedin"
            >
            </a>
          </li>
          <li class="footer__menuList-mail">
            <a
              target="_blank"
              rel="noreferrer"
              class="footer__menuList-access"
              href="mailto: martreyz@gmail.com"
              title="Send email"
            >
            </a>
          </li>
          <li class="footer__menuList-twitter">
            <a
              target="_blank"
              rel="noreferrer"
              class="footer__menuList-access"
              href="https://twitter.com/im_martreyz"
              title="Access Twitter"
            >
            </a>
          </li>
          <li class="footer__menuList-codepen">
            <a
              target="_blank"
              rel="noreferrer"
              class="footer__menuList-access"
              href="https://codepen.io/martreyz"
              title="Access Codepen"
            >
            </a>
          </li>
        </ul>
      </nav>
      <small class="small">Made with 😺 by martreyz </small>
    </footer>
    <script src="./js/pacman.js"></script>
  </body>
</html>
