* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1f2527;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bodybg.PNG");
  background-position-y: -200px;
  opacity: 0.05;
}

.back {
  width: 100px;
  background-color: #f7f700;
  text-align: center;
  padding: 10px 0px;
  border-radius: 15%;
  text-decoration: none;
  font-family: "VT323", monospace;
  font-size: 30px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  left: 15px;
  top: 15px;
}

.start {
  font-size: 30px;
  font-family: "VT323", monospace;
  padding: 10px;
  border-radius: 20%;
  position: absolute;
  left: calc(50vw-width/2);
  top: calc(50vh-height/2);
  background-color: #f700ce;
  border: 2px solid #f7f700;
  z-index: 9;
}

.start:hover {
  transform: scale(1.2);
}

.game {
  display: flex;
  flex-direction: column;
  margin: 20px;
  position: relative;
  border: #f7f700 10px double;
  padding: 30px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 450px;
}

.info {
  width: 420px;
  font-family: "VT323", monospace;
  color: #66909c;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.One {
  height: 15px;
  width: 15px;
  box-sizing: border-box;
  background-color: #66909c;
}

.Two {
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normalPoint {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #a4d1bc;
}

.bigPoint {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #a4d1bc;
}

.Three {
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Four {
  height: 15px;
  width: 15px;
}

.Five {
  height: 15px;
  width: 15px;
  background-color: #1f2527;
}

.lifes {
  display: flex;
  margin-bottom: 0px;
  position: absolute;
  top: -45px;
  left: 0px;
}

.pacman {
  width: 1px;
  height: 1px;
  border: 10px solid #f7f700;
  border-right-color: transparent;
  border-radius: 50%;
}

.gamePacman {
  width: 1px;
  height: 1px;
  border: 6px solid #f7f700;
  border-right-color: transparent;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 2px;
  margin-bottom: 1px;
}

.ghostOne {
  width: 1px;
  height: 4px;
  border: 7px solid #00f73e;
  border-bottom-color: transparent;
  border-radius: 40%;
}

.ghostTwo {
  width: 1px;
  height: 4px;
  border: 7px solid #f700d6;
  border-bottom-color: transparent;
  border-radius: 40%;
}

.ghostThree {
  width: 1px;
  height: 4px;
  border: 7px solid #f70000;
  border-bottom-color: transparent;
  border-radius: 40%;
}

.ghostFour {
  width: 1px;
  height: 4px;
  border: 7px solid #8fd6ff;
  border-bottom-color: transparent;
  border-radius: 40%;
}

.ghostFive {
  width: 1px;
  height: 4px;
  border: 7px solid #f79400;
  border-bottom-color: transparent;
  border-radius: 40%;
}

.ghostSix {
  width: 1px;
  height: 4px;
  border: 7px solid #8176e9;
  border-bottom-color: transparent;
  border-radius: 40%;
}

@keyframes speedRun {
  0% {
    width: 1px;
    height: 1px;
    border: 6px solid #f7f700;
    border-right-color: transparent;
    border-radius: 50%;
    margin-top: 1px;
  }
  25% {
    width: 1px;
    height: 1px;
    border: 6px solid #f700ce;
    border-right-color: transparent;
    border-radius: 50%;
    margin-top: 1px;
  }
  50% {
    width: 1px;
    height: 1px;
    border: 6px solid #f7f700;
    border-right-color: transparent;
    border-radius: 50%;
    margin-top: 1px;
  }
  100% {
    width: 1px;
    height: 1px;
    border: 6px solid #f700ce;
    border-right-color: transparent;
    border-radius: 50%;
    margin-top: 1px;
  }
}

.speedRun {
  animation: speedRun 1s ease;
  animation-iteration-count: 30;
}

.gameOver {
  width: 400px;
  height: 200px;
  background-color: rgb(255, 243, 75);
  border: 3px rgb(108, 124, 167) groove;
  position: absolute;
  left: calc(50vw-200px);
  top: calc(50vh-100px);
  border-radius: 20%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.gameOver_title {
  font-family: "VT323", monospace;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(30, 255, 0);
}

.gameOver_text {
  font-family: "VT323", monospace;
  margin: 10px 0px;
  background-color: #00f7c2;
  padding: 3px 10px;
}

.gameOver_button {
  background-color: rgb(250, 54, 129);
  border-radius: 15%;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-family: "VT323", monospace;
}

.gameOver_hidden {
  display: none;
}

.finalScore_title {
  font-family: "VT323", monospace;
  margin-top: 10px;
}

.timer {
  position: absolute;
  top: -45px;
  right: 0px;
  font-family: "VT323", monospace;
  font-weight: bold;
  color: #66909c;
  font-size: 25px;
}

.congratulations {
  width: auto;
  height: 200px;
  background-color: rgb(255, 243, 75);
  border: 3px rgb(108, 124, 167) groove;
  position: absolute;
  left: calc(50vw-200px);
  top: calc(50vh-100px);
  border-radius: 20%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.congratulations_title {
  font-family: "VT323", monospace;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(30, 255, 0);
}

.congratulations_text {
  font-family: "VT323", monospace;
  margin: 10px 0px;
  background-color: #00f7c2;
  padding: 3px 10px;
}

.congratulations_button {
  background-color: rgb(250, 54, 129);
  border-radius: 15%;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-family: "VT323", monospace;
}

.congratulations_hidden {
  display: none;
}

.congratulationsFinalScore_title {
  font-family: "VT323", monospace;
  margin-top: 10px;
}

.footer {
  position: fixed;
  display: flex;
  height: 50px;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  border-top: rgba(247, 247, 0, 0.2) 1px solid;
}

.footer__menuList {
  display: flex;
  margin-bottom: 0px;
  padding: 0px;
}
.footer__menuList-github {
  background-image: url("../images/github-alt-brands.svg");
  background-repeat: no-repeat;
  text-decoration: none;
  list-style-type: none;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  transition: all ease 1s;
}
.footer__menuList-linkedin {
  background-image: url("../images/linkedin-in-brands.svg");
  background-repeat: no-repeat;
  text-decoration: none;
  list-style-type: none;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  transition: all ease 1s;
}
.footer__menuList-mail {
  background-image: url("../images/envelope-solid.svg");
  background-repeat: no-repeat;
  text-decoration: none;
  list-style-type: none;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  transition: all ease 1s;
}
.footer__menuList-twitter {
  background-image: url("../images/twitter-brands.svg");
  background-repeat: no-repeat;
  text-decoration: none;
  list-style-type: none;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  transition: all ease 1s;
}
.footer__menuList-codepen {
  background-image: url("../images/codepen-brands.svg");
  background-repeat: no-repeat;
  text-decoration: none;
  list-style-type: none;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  transition: all ease 1s;
}
.footer__menuList-access {
  padding: 10px;
  text-decoration: none;
}

.small {
  font-family: "VT323", monospace;
  font-size: 18px;
  color: #f7f700;
}
